.fa-marker-icon,
.post-icon {
  box-sizing: border-box;
}
.post-icon {
  background-size: cover;
  background-position: center;
}
.fa-marker-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-marker-icon.circle,
.post-icon.circle {
  border-radius: 50%;
}
.fa-marker-icon.rounded-square,
.post-icon.rounded-square {
  border-radius: 25%;
}
.fa-marker-icon.square,
.post-icon.square {
  border-radius: 0;
}
