.leaflet-tooltip {
  text-align: center;
}

.fa-marker-icon,
.post-icon {
  box-sizing: border-box;
}
.post-icon {
  background-size: cover;
  background-position: center;
}
.fa-marker-icon.circle,
.post-icon.circle {
  border-radius: 50%;
}
.fa-marker-icon.rounded-square,
.post-icon.rounded-square {
  border-radius: 25%;
}
.fa-marker-icon.square,
.post-icon.square {
  border-radius: 0;
}
.fa-marker-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-marker-icon i.outline::before {
  -webkit-text-stroke: var(--text-stroke, none);
}

.poi-text::before {
  display: none;
  border: none;
  margin: 0;
}
.poi-text {
  margin: 0;
  padding: 0;

  border: none;
  box-shadow: none;
  background-color: transparent;
}
.poi-text > p {
  margin-block: 0;
  position: relative;
}
.poi-text > p::before {
  color: transparent;
  content: attr(data-text);
  inset: 0;
  padding: inherit;
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: var(--text-stroke, none);
}
