name: CI

on:
  pull_request:
  push:
    branches: ["main", "dev"]

permissions:
  contents: read

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev

      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.8.12"
          enable-cache: true
          cache-dependency-glob: ".pre-commit-config.yaml"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Cache pre-commit
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key:
            pre-commit-3|${{ env.pythonLocation }}|${{
            hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        run:
          uv run --no-sync --with pre-commit-uv pre-commit run
          --show-diff-on-failure --color=always --all-files
        shell: bash

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev

      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.8.12"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests
