name: CI

on:
  pull_request:
  push:
    branches: ["main", "dev"]

permissions:
  contents: read

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-uv

      - name: Cache pre-commit
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key:
            pre-commit-3|${{ env.pythonLocation }}|${{
            hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        run:
          uv run --no-sync --with pre-commit-uv pre-commit run
          --show-diff-on-failure --color=always --all-files
        shell: bash

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-uv

      - name: Run tests
        run: uv run pytest ./tests

      - name: Archive test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: ./tests/writers/out

  example-pdf:
    name: Example PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-uv

      - name: Cache country shapes
        uses: ./.github/actions/run-script-with-cache
        with:
          script: ./src/travelpost/writers/pdf/libs/country_shapes/download_create.sh
          output-dir: ./lib/natural_earth_data
          key:
            ${{ hashFiles('./src/travelpost/writers/pdf/libs/country_shapes/**')
            }}

      - name: Cache flag icons
        uses: ./.github/actions/run-script-with-cache
        with:
          script: ./src/travelpost/writers/pdf/libs/flag_icons/download.sh
          output-dir: ./lib/flag_icons
          key:
            ${{ hashFiles('./src/travelpost/writers/pdf/libs/flag_icons/**') }}

      - name: Cache font awesome
        uses: ./.github/actions/run-script-with-cache
        with:
          script: ./src/travelpost/writers/pdf/libs/fontawesome/download.sh
          output-dir: ./lib/fontawesome
          key:
            ${{ hashFiles('./src/travelpost/writers/pdf/libs/fontawesome/**') }}

      - name: Create example pdf
        run: uv run pytest ./tests/writers/pdf_test.py --mock-mode=auto

      - name: Archive example pdf
        uses: actions/upload-artifact@v4
        with:
          name: example-pdf
          path: ./tests/writers/out/TestBook.pdf
